@import '../../styles/settings.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');


.timerDigits {
    font-size: 50px;
    font-family: 'Roboto Mono', monospace;

}

.timerDiv {
    margin: 40px auto;
    font-family: 'Roboto Mono', monospace;
}